<link href="asset/css/custom-style.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class.bind="className($alertType)" role="alert" if.bind="@messages.length != 0">
            <div for.each="error in @messages">{{error}}</div>
        </div>
    </div>
</div>
<script>

    function initState(props) {
    	return {
		    messages: toArrayofMessages(props.message, props.alertType, props.titleCase)
	    };
    }

    function onPropertyChange(event){
        this.state.messages = toArrayofMessages(this.properties.message, this.properties.alertType, this.properties.titleCase);
    }

    function className(alertType)
    {
    	var base = "alert custom-alert ";
	    if(alertType == "error") base = base + "alert-danger";
	    else if(alertType == "success") base = base + "alert-success";
	    else if(alertType == "info") base = base + "alert-info";
	    else if(alertType == "warning") base = base + "alert-warning";
	    return base;
    }

    function toArrayofMessages(message, alertType, titleCase) {
        var result = [];
        if(!message) {
        	result = [];
        }
        else if (typeof message === "string") {
            result.push(message);
        }
        else if (message.hasOwnProperty("message")) {
	        result.push(message.message);
        }
        else if (message.hasOwnProperty("error")) {
	        result.push(message.error);
        }
        else if (message.hasOwnProperty("errors")) {
            var errorList = [];
            if (!message.errors.length) errorList.push(message.errors)
            else errorList = message.errors;

            for (var i in errorList) {
                for (var name in errorList[i]) {
                    if (errorList[i].hasOwnProperty(name)) {
                        result.push((name == 'email' || name == 'username' || name == 'email' ? name + ": " : '') + errorList[i][name]);
                    }
                }
            }
        }
        var finalResult = [];
        for(i = 0 ; i < result.length; i++) {
        	if (result[i] != "") {
        		var msg = result[i];
		        if(alertType != "error") {
			        msg = (titleCase ? msg.toTitleCase() : msg.toSentenceCase());
		        } else {
		        	msg = msg.toSentenceCase();
		        }
        		finalResult.push(msg);
	        }
        }
        return finalResult;
    }
</script>
