<link href="asset/css/custom-style.css" rel="stylesheet">
<div class.bind="className($alertType)" role="alert" if.bind="$message">
    <p for.each="error in messages($message, $alertType, $titleCase)">{{error}}</p>
</div>

<script>
    function className(alertType)
    {
    	var base = "alert custom-alert ";
	    if(alertType == "error") base = base + "alert-danger";
	    else if(alertType == "success") base = base + "alert-success";
	    else if(alertType == "info") base = base + "alert-info";
	    else if(alertType == "warning") base = base + "alert-warning";
	    return base;
    }

    toErrorMessages = function(err) {
        var result = [];
        if (typeof err === "string") {
            result.push(err);
        }
        else if (err.hasOwnProperty("error")) {
            result.push(err.error);
        }
        else if (err.hasOwnProperty("errors")) {
            var errorList = [];
            if (!err.errors.length) errorList.push(err.errors)
            else errorList = err.errors;

            for (var i in errorList) {
                for (var name in errorList[i]) {
                    if (errorList[i].hasOwnProperty(name)) {
                        result.push(name + ": " + errorList[i][name]);
                    }
                }
            }
        }
        return result;
    }
    function messages(msg, alertType, titleCase) {
        var msgs = [];
        if(alertType != "error") {
            msgs.push(titleCase ? msg.toTitleCase() : msg.toSentenceCase());
        } else {
            var msgs = toErrorMessages(msg);
            for(var i = 0; i < msgs.length; i++) msgs[i]  = msgs[i].toSentenceCase();
        }
        return msgs;
    }

</script>