<link href="asset/css/custom-style.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class.bind="className($alertType)" role="alert" if.bind="@messages.length != 0">
            <div for.each="error in @messages">{{(error.name ? error.name +': ' : '') + error.message}}</div>
        </div>
    </div>
</div>
<script>

    function initState(props) {
    	return {
		    messages: formatMessages(props.message, props.alertType, props.titleCase)
	    };
    }

    function onPropertyChange(event){
        this.state.messages = formatMessages(this.properties.message, this.properties.alertType, this.properties.titleCase);
    }

    function className(alertType)
    {
    	var base = "alert custom-alert ";
	    if(alertType == "error") base = base + "alert-danger";
	    else if(alertType == "success") base = base + "alert-success";
	    else if(alertType == "info") base = base + "alert-info";
	    else if(alertType == "warning") base = base + "alert-warning";
	    return base;
    }

    function formatMessages(message, alertType, titleCase) {
    	var finalResult=[];
    	if(message.constructor !== Array) message = [{message: message}];
	    for(var i in message) {
		    if (message[i].message != "") {
			    var msg = message[i];
			    if(msg.message.toLowerCase() == 'needrelogin') {
			    	debugger;
			    	storage.me.erase();
			    	window.location.hash="#app";
                }
			    if(alertType != "error") {
				    msg.message = (titleCase ? msg.message.toTitleCase() : msg.message.toSentenceCase());
			    } else {
				    msg.message = msg.message.toSentenceCase();
			    }
			    finalResult.push(msg);
		    }
	    }
        return finalResult;
    }
</script>
