<link href="asset/css/custom-style.css" rel="stylesheet">
<inject from="/component/card" name="card"></inject>
<inject from="/component/entry" name="entry"></inject>

<div>
    <card title.bind="$travelAgent.travelAgentName">
        <div>
            Address: {{$travelAgent.address}}<br/>
            City: {{$travelAgent.city}}
            <div class=row">
                <entry type="button" value="Edit Info" name="btnEdit" divClass="col-xs-6 col-sm-6 col-md-6 col-lg-6" click.trigger="onClickEdit($travelAgent.id)"></entry>
                <entry type="button" value="Packages..." name="btnPackages" divClass="col-xs-6 col-sm-6 col-md-6 col-lg-6" click.trigger="onClickPackages($travelAgent.id)"></entry>
            </div>
        </div>
    </card>
</div>
<script>
	function onClickEdit(travelAgentId){
		this.emitEvent('editTA', travelAgentId);
	}

	function onClickPackages(travelAgentId){
		this.emitEvent('showPackages', travelAgentId);
	}



</script>

