<inject from="/component/card" name="card"></inject>

<card title.bind="$itr.fromDateTime.toDateComponents()" remarks.bind="$itr.remarks">
    <div if.bind="$itr.entry.transport">
        Airline: {{$itr.entry.transport}} <br/>
        Departure: {{$itr.entry.departure.toDateComponents(false, true)}} <br/>
        From: {{$itr.entry.departFrom}} <br/>
        Arrival: {{$itr.entry.arrival.toDateComponents(false, true)}} <br/>
        At: {{$itr.entry.arriveAt}} <br/>
    </div>
    <div if.bind="$itr.entry.hotel">
        Hotel: {{$itr.entry.hotel}} <br/>
        City: {{$itr.entry.city}} <br/>
        Check in: {{$itr.entry.checkIn.toDateComponents()}} <br/>
        Check out: {{$itr.entry.checkOut.toDateComponents()}} <br/>
    </div>
</card>
