<inject from="/component/card" name="card"></inject>

<card title.bind="$itr.fromDateTime.toDateComponents()" remarks.bind="$itr.remarks">
    <div if.bind="$itr.entry.transport">
        Airline: {{$itr.entry.transport}} <br/>
        Departure: {{$itr.entry.departure.toDateComponents(false, true)}} <br/>
        From: {{$itr.entry.departFrom}} <br/>
        Arrival: {{$itr.entry.arrival.toDateComponents(false, true)}} <br/>
        At: {{$itr.entry.arriveAt}} <br/>
    </div>
    <div if.bind="$itr.entry.hotel">
        Hotel: {{$itr.entry.hotel}} <br/>
        City: {{$itr.entry.city}} <br/>
        Check in: {{$itr.entry.checkIn.toDateComponents()}} <br/>
        Check out: {{$itr.entry.checkOut.toDateComponents()}} <br/>
    </div>
    <div class=row" if.bind="$onedit || $ondelete">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <input type="button" value="Edit" class="form-control btn btn-info btn-block" click.trigger="$onedit($itr.id)">
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <input type="button" value="Delete" class="form-control btn btn-info btn-block" click.trigger="$ondelete($itr.id)">
            </div>
        </div>
    </div>
</card>

