<inject from="/component/panel" name="card"></inject>
<inject from="/component/entry" name="entry"></inject>

<div>
    <card title.bind="($itr.fromDateTime.toDateComponents())" remarks.bind="$itr.remarks" nofooter>
        <div slot.name="body">
            <div if.bind="$itr.entry.transport">
                Airline: {{$itr.entry.transport}} <br/>
                Departure: {{$itr.entry.departure.toDateComponents(false, true)}} <br/>
                From: {{$itr.entry.departFrom}} <br/>
                Arrival: {{$itr.entry.arrival.toDateComponents(false, true)}} <br/>
                At: {{$itr.entry.arriveAt}} <br/>
            </div>
            <div if.bind="$itr.entry.hotel">
                Hotel: {{$itr.entry.hotel}} <br/>
                City: {{$itr.entry.city}} <br/>
                Check in: {{$itr.entry.checkIn.toDateComponents()}} <br/>
                Check out: {{$itr.entry.checkOut.toDateComponents()}} <br/>
            </div>
            <div class=row" if.bind="$onedit || $ondelete">
                <entry type="button" value="Edit" divClass="col-xs-6 col-sm-6 col-md-6 col-lg-6" click.trigger="onEdit($itr.id)"></entry>
                <entry type="button" value="Delete" divClass="col-xs-6 col-sm-6 col-md-6 col-lg-6" click.trigger="onDelete($itr.id)"></entry>
            </div>
        </div>
    </card>
</div>
<script>
    function onEdit(itineraryId) {
    	//debugger;
    	this.emitEvent('edit', itineraryId);
    }

    function onDelete(itineraryId) {
    	//debugger;
    	this.emitEvent('delete', itineraryId);
    }
</script>
