<div>
    <div class="container all-5px">
        <div class="row centered-form no-top-margin">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div click.trigger="$onclick()" class="panel panel-default" style.bind="isClickable($onclick)">
                    <div class="panel-heading" if.bind="$title">
                        <h3 class="panel-title" >{{$title}}</h3>
                    </div>
                    <div if.bind="!$titleOnly">
                        <div class="panel-body">
                            <slot-view></slot-view>
                        </div>
                        <div class="panel-footer" if.bind="$remarks">
                            {{$remarks}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    function isClickable(hasOnClick){
        if(hasOnClick){
            return 'cursor:pointer';
        }
        return '';
    }

</script>