<inject from="/component/card" name="card"></inject>

<card click.trigger="$onclick()">
    <div data.load="loadPackage($bkg.packageId)" data.name="pkg">
        <p class="bg-primary">Package: {{pkg.packageName}}</p>
        Travel Date: {{(pkg.travelDateFrom).toStringDateRange(pkg.travelDateUntil)}}<br/>
        Operator: <span data.load="loadAgent(pkg.travelAgentId)">{{data.travelAgentName}}</span><br/>
        Land Arrangements: {{$bkg.costLandArrangements.toFormattedString()}}<br/>
        Tickets: {{$bkg.costTickets.toFormattedString()}}<br/>
        Total passenger: {{$bkg.numberOfPassengers}}<br/>
        Total Price: {{($bkg.totalPrice ? $bkg.totalPrice.toFormattedString() : '')}}<br/>
        Unique Code: {{$bkg.uniqueCode}}<br/>
        Grand Total: {{($bkg.totalPrice + $bkg.uniqueCode).toFormattedString()}}<br/>
        Expiry Date: {{($bkg.waitingForPaymentUntil ? $bkg.waitingForPaymentUntil.toDateComponents(false, true) : '')}}
    </div>

</card>


<script>
function loadPackage(packageId){
        return new Promise(function(resolve){
            dpd.packages.get(packageId,function(pkg){
                resolve(pkg);
            });
        });
    }


    function loadAgent(travelAgentId){
        return new Promise(function(resolve){
            dpd.travelagents.get(travelAgentId, function(agent, err) {
                if(err){
                    errorMessage = JSON.stringify(err);
                    $patchChanges();
                }else {
                    resolve(agent);
                }
            });
        });
    }
</script>