<link href="asset/css/registration.css" rel="stylesheet">
<inject from="/component/alert" name="alert"></inject>

<div class="container all-5px">
    <div class="row centered-form no-top-margin">
        <div class="form-panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" if.bind="$package">Edit Package Info</h3>
                    <h3 class="panel-title" if.bind="!$package">New Package</h3>
                </div>
                <div class="panel-body"  data.load="loadPackage($package)">
                    <form role="form" submit.trigger="save(this, $onsave)">
                        <input type="hidden" name="id" value.bind="data.id">
                        <input type="hidden" name="travelAgentId" value.bind="data.travelAgentId">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="packageName" class="form-control input-sm" placeholder="Package Name" value.bind="data.packageName">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="tourLeader" class="form-control input-sm" placeholder="Tour Leader" value.bind="data.tourLeader">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="date" name="validFrom" class="form-control input-sm" placeholder="Valid From"  value.bind="data.validFrom">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="date" name="validUntil" class="form-control input-sm" placeholder="Valid Until" value.bind="data.validUntil">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="number" name="costLandArrangements" class="form-control input-sm" placeholder="Land Arrangements"  value.bind="data.costLandArrangements">
                        </div>
                        <div class="form-group">
                            <input type="number" name="costTickets" class="form-control input-sm" placeholder="Tickets" value.bind="data.costTickets">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="checkbox" name="isItineraryConfirmed" id="isItineraryConfirmed" autocomplete="off"  checked.bind="data.isItineraryConfirmed"/>
                                    <div class="btn-group">
                                        <label for="isItineraryConfirmed" class="btn btn-default btn-checkbox">
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <span> </span>
                                        </label>
                                        <label for="isItineraryConfirmed" class="btn btn-default active btn-checkbox">
                                            Itinerary Confirmed
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="checkbox" name="isPublished" id="isPublished" autocomplete="off"  checked.bind="data.isPublished"/>
                                    <div class="btn-group">
                                        <label for="isPublished" class="btn btn-default btn-checkbox">
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <span> </span>
                                        </label>
                                        <label for="isPublished" class="btn btn-default active btn-checkbox">
                                            Published
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <alert alertType.bind="'error'" message.bind="errorMessage"></alert>
                        <div class=row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="submit" value.bind="$package ? 'Save' : 'Register'" class="btn btn-info btn-block">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="button" value="Cancel" class="form-control btn btn-info btn-block" click.trigger="$oncancel()">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

	var errorMessage = '';

	function loadPackage(package){
		return package ? package : {};
	}

	function save(form, onSave){
		var package = {};
		package.id = form.elements.id.value;
		package.travelAgentId = form.elements.travelAgentId.value;
		package.packageName = form.elements.packageName.value;
		package.tourLeader = form.elements.tourLeader.value;
		package.validFrom = (new Date(form.elements.validFrom.value)).getTime();
		package.validUntil = (new Date(form.elements.validUntil.value)).getTime();
		package.costLandArrangements = form.elements.costLandArrangements.value;
		package.costTickets = form.elements.costTickets.value;
		package.isItineraryConfirmed = (form.elements.isItineraryConfirmed .value == "on");
		package.isPublished = (form.elements.isPublished.value == "on");
		onSave(package);
	}
</script>

