<link href="asset/css/custom-style.css" rel="stylesheet">
<inject from="/component/entry" name="entry"></inject>
<inject from="/component/alert" name="alert"></inject>
<inject from="/component/panel" name="panel"></inject>

<div>
    <panel title.bind="(($itinerary ? 'Edit' : 'New') + ' Entry')" nofooter>
        <div slot.name="body" data.load="loadItinerary($itinerary)">
            <form>
                <input type="hidden" name="id" value.bind="data.id">
                <input type="hidden" name="packageId" value.bind="data.packageId">
                <div class=row" if.bind="!$itinerary">
                    <entry type="button" value="Transport" name='btnTransport' divClass="col-xs-6 col-sm-6 col-md-6 col-lg-6" class.bind="setButtonClass('Transport')" click.trigger="onClick()"></entry>
                    <entry type="button" value="Hotel" name='btnHotel' divClass="col-xs-6 col-sm-6 col-md-6 col-lg-6" class.bind="setButtonClass('Hotel')" click.trigger="onClick()"></entry>
                </div>

                <div class.bind="isVisible('Transport')">
                    <div class="row">
                        <entry type="select" name="transportType" value.bind="data.entry.transportType" prompt="Transport" entries.bind="['Plane', 'Bus', 'Train', 'Car', 'Ship']" change.trigger="onTransportTypeChange()"></entry>
                    </div>
                    <div class="row">
                        <div ref.name="spanTransport">
                            <entry type="text" name="transport" prompt.bind="whatTransportType()" value.bind="data.entry.transport"></entry>
                        </div>
                        <entry type="datetime-local" name="departure" prompt="Departure" value.bind="(data.entry.departure ? data.entry.departure.toYYYYMMDD(true):$defaults.date.default.toYYYYMMDD(true))" min.bind="(new Date()).toYYYYMMDD()" focusout.trigger="@datePair.departure.onFocusOut('arrival')"></entry>
                        <entry type="text" name="departFrom" prompt="Depart From" value.bind="data.entry.departFrom"></entry>
                        <div ref.name="arrival">
                            <entry type="datetime-local" name="arrival" prompt="Arrival" value.bind="(data.entry.arrival ? data.entry.arrival.toYYYYMMDD(true) : $defaults.date.default.toYYYYMMDD(true))" min.bind="@datePair.departure.minDate()"></entry>
                        </div>
                        <entry type="text" name="arriveAt" prompt="Arrive At" value.bind="data.entry.arriveAt"></entry>
                    </div>
                </div>
                <div class.bind ="isVisible('Hotel')">
                    <div class="row">
                        <entry type="datetime" name="checkIn" class="form-control input-sm" prompt="Check In" value.bind="(data.entry.checkIn ? data.entry.checkIn.toYYYYMMDD(true):$defaults.date.default.toYYYYMMDD(true))" min.bind="(new Date()).toYYYYMMDD()" focusout.trigger="@datePair.checkIn.onFocusOut('checkOut')"></entry>
                        <span ref.name="checkOut">
                            <entry type="datetime" name="checkOut" class="form-control input-sm" prompt="Check Out" value.bind="(data.entry.checkOut ? data.entry.checkOut.toYYYYMMDD(true):$defaults.date.default.toYYYYMMDD(true))" min.bind="@datePair.checkIn.minDate()"></entry>
                        </span>
                        <entry type="text" name="hotel" prompt="Hotel" value.bind="data.entry.hotel"></entry>
                        <entry type="text" name="city" prompt="City" value.bind="data.entry.city"></entry>
                    </div>
                </div>
                <div class="row">
                    <entry type="textarea" name="remarks" prompt="Remarks" value.bind="data.remarks"></entry>
                </div>

                <alert alertType.bind="'error'" message.bind="errorMessage"></alert>

                <div class=row">
                    <entry type="button" value="Save" divClass="col-xs-6 col-sm-6 col-md-6 col-lg-6" click.trigger="onSave()"></entry>
                    <entry type="button" value="Cancel" divClass="col-xs-6 col-sm-6 col-md-6 col-lg-6" click.trigger="onCancel()"></entry>
                </div>
            </form>
        </div>
    </panel>
</div>
<script>
	function initState(props){
		return {
			entryType: props.defaults.entryType,
			datePair: {
				departure: new DatePair(),
				checkIn: new DatePair(),
			},
            transportType:'',
		};
	}

	function onTransportTypeChange(){
    	this.state.transportType = this.target.value;
    	$patchChanges('spanTransport');
    }

    function whatTransportType() {
        if(this.state.transportType == 'Plane') return 'Airline';
        else return this.state.transportType + ' Info';
    }

    function onClick(){
        this.state.entryType = this.target.name == 'btnHotel' ? 'Hotel' : 'Transport';
    	$patchChanges();
    }

    function setButtonClass(btn) {
        return (btn == this.state.entryType ? "form-control btn btn-info btn-block" : "form-control btn btn-default btn-block");
    }

	var errorMessage = '';

	function loadItinerary(itinerary){
        debugger;
		itinerary = (itinerary ? itinerary : {entry: {}});
        if(this.state.entryType == "") {
            if(itinerary && itinerary.entry && itinerary.entry.hotel) this.state.entryType = 'Hotel';
            else this.state.entryType = 'Transport';
        }
        if(this.state.entryType=='Transport')
            this.state.transportType = itinerary.entry.transportType ? itinerary.entry.transportType : 'Plane';
        return itinerary;

    }

    function onCancel() {
		debugger;
	    this.emitEvent('cancel');
    }

	function onSave(event, itinerary){
		debugger;
		var form = this.target.form;
		var itinerary = {};
		itinerary.id = form.elements.id.value;
		itinerary.entry = {};
		itinerary.remarks = form.elements.remarks.value;
		if(this.state.entryType=='Hotel'){
			itinerary.entry.hotel = form.elements.hotel.value;
			itinerary.entry.city = form.elements.city.value;
			itinerary.entry.checkIn = (new Date(form.elements.checkIn.value)).getTime();
			itinerary.entry.checkOut = (new Date(form.elements.checkOut.value)).getTime();
		}
        else {
			itinerary.entry.transport = form.elements.transport.value;
			itinerary.entry.transportType = form.elements.transportType.value;
			itinerary.entry.departFrom = form.elements.departFrom.value;
			itinerary.entry.arriveAt = form.elements.arriveAt.value;
			itinerary.entry.departure = (new Date(form.elements.departure.value)).getTime();
			itinerary.entry.arrival = (new Date(form.elements.arrival.value)).getTime();
        }
		this.emitEvent('save', itinerary);
	}

	function isVisible(group) {
	    if (this.state.entryType==group) return "";
	    else return "custom-set-hidden";
    }

</script>

