<link href="asset/css/custom-style.css" rel="stylesheet">
<inject from="/component/alert" name="alert"></inject>
<inject from="/component/entry" name="entry"></inject>
<inject from="/component/panel" name="panel"></inject>

<div>
    <panel title.bind="$package ? 'Edit Package Info' : 'New Package'" nofooter>
        <div  slot.name="body" data.load="loadPackage($package)">
            <form>
                <entry type="hidden" name="id" value.bind="data.id"></entry>
                <entry type="hidden" name="travelAgentId" value.bind="data.travelAgentId"></entry>
                <div class="row">
                    <entry type="text" name="packageName" prompt="Package Name" value.bind="data.packageName"></entry>
                    <entry type="text" name="tourLeader" prompt="Tour Leader" value.bind="data.tourLeader"></entry>
                    <entry type="date" name="validFrom" prompt="Valid From"  value.bind="(data.validFrom ? data.validFrom.toYYYYMMDD() : (new Date()).toYYYYMMDD(true))"></entry>
                    <entry type="date" name="validUntil" prompt="Valid Until" value.bind="(data.validUntil ? data.validUntil.toYYYYMMDD() : (new Date()).toYYYYMMDD(true))"></entry>
                    <entry type="number" name="costLandArrangements" prompt="Land Arrangements"  value.bind="data.costLandArrangements"></entry>
                    <entry type="number" name="costTickets" prompt="Tickets" value.bind="data.costTickets"></entry>
                    <entry type="checkbox" name="isItineraryConfirmed" prompt="Itinerary Confirmed" checked.bind="data.isItineraryConfirmed"></entry>
                    <entry type="checkbox" name="isPublished" prompt="Published" checked.bind="data.isPublished"></entry>
                    <entry type="button" value.bind="$package ? 'Save' : 'Register'" divClass="col-xs-6 col-sm-6 col-md-6 col-lg-6" click.trigger="onSave()"></entry>
                    <entry type="button" value="Cancel" divClass="col-xs-6 col-sm-6 col-md-6 col-lg-6" click.trigger="onCancel()"></entry>
                </div>
                <alert alertType.bind="'error'" message.bind="errorMessage"></alert>
            </form>
        </div>
    </panel>
</div>

<script>

	var errorMessage = '';

	function loadPackage(package){
		return package ? package : {};
	}

	function onSave(){
		var form = this.target.form;
		var package = {};
		package.id = form.elements.id.value;
		package.travelAgentId = form.elements.travelAgentId.value;
		package.packageName = form.elements.packageName.value;
		package.tourLeader = form.elements.tourLeader.value;
		package.validFrom = (new Date(form.elements.validFrom.value)).getTime();
		package.validUntil = (new Date(form.elements.validUntil.value)).getTime();
		package.costLandArrangements = form.elements.costLandArrangements.value;
		package.costTickets = form.elements.costTickets.value;
		package.isItineraryConfirmed = (form.elements.isItineraryConfirmed.checked);
		package.isPublished = (form.elements.isPublished.checked);
		this.emitEvent('save', package);
	}

	function onCancel(){
		this.emitEvent('cancel');
	}
</script>

