<link href="asset/css/custom-style.css" rel="stylesheet">
<inject from="/component/entry-naked" name="entry-naked"></inject>

<span>
    <entry-naked if.bind="$naked || $type=='hidden'"
        type.bind="$type"
        prompt.bind="$prompt"
        href.bind="$href"
        value.bind="$value"
        name.bind="$name"
        class.bind="$class"
        required.bind="$required"
        placeholder.bind="$placeholder"
        min.bind="$min"
        max.bind="$max"
        checked.bind="$checked"
        entries.bind="$entries"
        alert.bind="$alert"
        change.trigger="onChange()"
        click.trigger="onButtonClicked()"
        focusout.trigger="onFocusOut()">
    </entry-naked>
    <div if.bind="!$naked && $type!='hidden'" class.bind="whatDivClass($divClass)">
        <div class.bind="whatInnerDivClass($innerDivClass)">
            <entry-naked
                type.bind="$type"
                prompt.bind="$prompt"
                href.bind="$href"
                value.bind="$value"
                name.bind="$name"
                class.bind="$class"
                required.bind="$required"
                placeholder.bind="$placeholder"
                min.bind="$min"
                max.bind="$max"
                checked.bind="$checked"
                entries.bind="$entries"
                alert.bind="$alert"
                change.trigger="onChange()"
                click.trigger="onButtonClicked()"
                focusout.trigger="onFocusOut()">
            </entry-naked>
        </div>
    </div>
</span>

<script>
    function whatDivClass(divClass){
        if(divClass) return divClass;
        else return "col-xs-12 col-sm-6 col-md-6 col-lg-6";
    }

    function whatInnerDivClass(innerDivClass){
        if(innerDivClass) return innerDivClass;
        else return "form-group custom-entry-margin";
    }

    function onButtonClicked() {
    	this.emitEvent('click');
    }

    function onFocusOut() {
    	this.emitEvent("focusout");
    }

    function onChange() {
    	this.emitEvent('change');
    }
</script>


