<link href="asset/css/custom-style.css" rel="stylesheet">

<div class.bind="whatDivClass($divClass)">
    <div class="form-group custom-entry-margin">
        <label if.bind="$prompt && whatType($type) != 'checkbox'" class="custom-entry-prompt">{{$prompt}}</label>
        <input if.bind="whatType($type) == 'other'" type.bind="$type" name.bind="$name" class="form-control input-sm" value.bind="$value ? $value : ''">
        <input if.bind="whatType($type) == 'hidden'" type.bind="$type" name.bind="$name"value.bind="$value ? $value : ''">
        <input if.bind="whatType($type) == 'button'" type.bind="$type" name.bind="$name" class.bind="$class ? $class : 'form-control btn btn-info btn-block'" value.bind="$value ? $value : ''" click.trigger="buttonClicked()">
        <textarea if.bind="whatType($type) == 'textarea'" name.bind="$name" class="form-control input-sm">{{$value ? $value : ''}}</textarea>
        <div if.bind="whatType($type) == 'checkbox'" >
            <input type="checkbox" name.bind="$name" id.bind="$name" autocomplete="off"  checked.bind="$value"/>
            <div class="btn-group">
                <label for.bind="$name" class="btn btn-default btn-checkbox">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for.bind="$name" class="btn btn-default active btn-checkbox">
                    {{$prompt}}
                </label>
            </div>
        </div>
    </div>
</div>

<script>
    function whatDivClass(divClass){
        if(divClass) return divClass;
        else return "col-xs-12 col-sm-6 col-md-6 col-lg-6";
    }

    function whatType(type) {
        if(type == 'textarea') return 'textarea';
        else if(type == 'hidden') return 'hidden';
        else if(type == 'button') return 'button';
        else if(type == 'checkbox') return 'checkbox';
        else return 'other'
    }

    function buttonClicked() {
    	this.emitEvent('click');
    }
</script>


