
<div>
	<div>
		{{dates.formatter($itr.fromDateTime)}}
	</div>
	<div if.bind="$itr.entry.transport">
		Airline: {{$itr.entry.transport}} <br/>
		Departure: {{dates.formatter($itr.entry.departure, false, true)}} <br/> 
		From: {{$itr.entry.departFrom}} <br/>
		Arrival: {{dates.formatter($itr.entry.arrival, false, true)}} <br/> 
		At: {{$itr.entry.arriveAt}} <br/>
	</div>
	<div if.bind="$itr.entry.hotel">
		Hotel: {{$itr.entry.hotel}} <br/>
		City: {{$itr.entry.city}} <br/>
		Check in: {{dates.formatter($itr.entry.checkIn)}} <br/>
		Check out: {{dates.formatter($itr.entry.checkOut)}} <br/>
	</div>
	<div if.bind="$itr.remarks">
		{{$itr.remarks}}
	</div>
</div>

<script>
    var dates = $inject('/common/dates');
</script>