<link href="asset/css/registration.css" rel="stylesheet">
<inject from="/component/alert" name="alert"></inject>

<div class="container all-5px">
    <div class="row centered-form no-top-margin">
        <div class="form-panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" if.bind="$profile">Your Profile</h3>
                    <h3 class="panel-title" if.bind="!$profile">Please Sign Up <small> It's free!</small></h3>
                </div>
                <div class="panel-body"  data.load="loadProfile($profile)">
                    <form role="form" submit.trigger="register(this, $onsave)">
                        <input type="hidden" name="id" value.bind="data.id">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="firstName" class="form-control input-sm" placeholder="First Name" value.bind="data.firstName">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="lastName" class="form-control input-sm" placeholder="Last Name" value.bind="data.lastName">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control input-sm" placeholder="Email Address"  value.bind="data.email">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="phone" class="form-control input-sm" placeholder="Phone" value.bind="data.phone">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="address1" class="form-control input-sm" placeholder="Address">{{data.address1}}</textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" name="city" class="form-control input-sm" placeholder="City" value.bind="data.city">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="checkbox" name="isTravelAgent" id="isTravelAgent" autocomplete="off"  checked.bind="data.isTravelAgent"/>
                                    <div class="btn-group">
                                        <label for="isTravelAgent" class="btn btn-default btn-checkbox">
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <span> </span>
                                        </label>
                                        <label for="isTravelAgent" class="btn btn-default active btn-checkbox">
                                            Travel Agent
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="checkbox" name="isAdmin" id="isAdmin" autocomplete="off"  checked.bind="data.isAdmin"/>
                                    <div class="btn-group">
                                        <label for="isAdmin" class="btn btn-default btn-checkbox">
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <span> </span>
                                        </label>
                                        <label for="isAdmin" class="btn btn-default active btn-checkbox">
                                            Administrator
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control input-sm" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="password" name="repeatPassword" class="form-control input-sm" placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>
                        <alert alertType.bind="'error'" message.bind="errorMessage"></alert>
                        <div class=row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="submit" value.bind="$profile ? 'Save' : 'Register'" class="btn btn-info btn-block">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="button" value="Cancel" class="form-control btn btn-info btn-block" click.trigger="$oncancel()">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var errorMessage = '';

    function loadProfile(profile){
        return profile ? profile : {};
    }

    function register(form, onSave){
        var profile = {};
        profile.id = form.elements.id.value;
        profile.firstName = form.elements.firstName.value;
        profile.lastName = form.elements.lastName.value;
        profile.email = form.elements.email.value;
        profile.phone = form.elements.phone.value;
        profile.username = form.elements.email.value;

        if(form.elements.password.value != '') profile.password = form.elements.password.value;
        var repeatPassword = form.elements.repeatPassword.value;

        profile.address1 = form.elements.address1.value;
        profile.address2 = form.elements.address2.value;
        profile.city = form.elements.city.value;
        profile.isAdmin = (form.elements.isAdmin.value == "on");
        profile.isTravelAgent = (form.elements.isTravelAgent.value == "on");
        onSave(profile);
    }
</script>

