<inject from="/component/entry" name="entry"></inject>

<div>
    <div class="row">
        <form>
        <div data.load="getAirports()">
            <entry type="lookup" prompt="Airport" name="airport" entries.bind="data" value="CGK"></entry>
        </div>
        <div data.load="getAirlines()">
            <entry type="lookup" prompt="Airline" name="airline" entries.bind="data" value="GA"></entry>
        </div>
        <entry type="button" click.trigger="onSubmit()"></entry>
        </form>
    </div>
</div>

<script>

    function onSubmit() {
    	debugger;
    	console.log()
    }
    function getAirports() {
	    return new Promise(function(resolve){
		    dpd.airports.get({$fields: {IATA:1, airport:1}}, function(airports){
		    	//debugger;
			    resolve(airports.map(function(x){return {label:x.IATA + ' - ' + x.airport, value: x.IATA}}));
		    })
	    })
    }
    function getAirlines() {
	    return new Promise(function(resolve){
		    dpd.airlines.get({$fields: {IATA:1, airline:1}}, function(airlines){
			    //debugger;
			    resolve(airlines.map(function(x){return {label:x.IATA + ' - ' + x.airline, value: x.IATA}}));
		    })
	    })
    }
</script>

