<span style.bind="calculateRootStyle($margin)">
    <label if.bind="($glyph || $prompt) && (($type) == 'label' || (($type) != 'checkbox' && ($type) != 'hyperlink' && ($type) != 'hidden'))" class.bind="(($class ? $class : 'custom-entry-prompt' + ($deleted ? ' custom-deleted-text' : '')))" click.trigger="onPromptClick()">{{$prompt ? $prompt:''}}<span if.bind="$glyph" class.bind="'glyphicon glyphicon-' + $glyph" ></span></label>
    <input if.bind="isGeneric($type)" type.bind="$type" name.bind="$name" class.bind="($class ? $class : 'form-control ' + ($type=='button' ? 'btn btn-info btn-block' : 'input-sm'))" required.bind="$required" placeholder.bind="$placeholder" value.bind="setValue($value, $min, $max)" min.bind="$min" max.bind="$max" accept.bind="$accept" click.trigger="onButtonClicked()" focusout.trigger="onFocusOut()" change.trigger="onChange()" keyup.trigger="onKeyUp()" style.bind="($hidden ? 'visibility:hidden; position:absolute; left:0; top:0' : ($uppercase ? 'text-transform:uppercase' : ''))" blob.bind="$blob" >
    <textarea if.bind="($type) == 'textarea'" name.bind="$name" required.bind="$required" class="form-control input-sm" focusout.trigger="onFocusOut()">{{($value ? $value : '')}}</textarea>
    <a if.bind="($type) == 'hyperlink'" href.bind="$href" class.bind="($class ? $class : 'custom-entry-prompt')" click.trigger="onHyperlinkClick()">{{$prompt}}</a>
    <div if.bind="($type) == 'checkbox'" >
        <input type="checkbox" name.bind="$name" id.bind="$name" autocomplete="off"  checked.bind="$checked" focusout.trigger="onFocusOut()" click.trigger="onCheckboxClick(event)"/>
        <div class="btn-group" focusout.trigger="onFocusOut()">
            <label for.bind="$name" class="btn btn-default btn-checkbox">
                <span class="glyphicon glyphicon-ok" focusout.trigger="onFocusOut()"></span>
                <span> </span>
            </label>
            <label for.bind="$name" class="btn btn-default active btn-checkbox" focusout.trigger="onFocusOut()">
                {{$prompt}}
            </label>
        </div>
    </div>
    <div if.bind="($type) == 'select'" change.trigger="onChange()">
        <select class="form-control input-sm" name.bind="$name" required.bind="$required" >
            <option for.each="entry in $entries" value.bind="entry" selected.bind="entry==$value">{{entry}}</option>
        </select>
    </div>
    <div if.bind="($type) == 'lookup'">
        <input class="form-control input-sm" name.bind="$name+'-display'" data-minchars="1" required.bind="$required" created.trigger="initAwesomplete($value)"/>
        <input type="hidden" name.bind="$name" value.bind="$value"/>
    </div>
    <label if.bind="@error && ($type) != 'hidden'" class="custom-entry-prompt custom-error-text">{{@error}}</label>
</span>

<script> /**/
    function initState(props) {
       // debugger;
	    var state = {};
        if(props.alert) props.alert.onError.subscribe(errorSelector.bind(this));
        state.name = props.name;
        state.error = null;
        state.alias = props.alias;
        state.entries = props.entries;
        state.lookupDelimiter = props.lookupDelimiter;
        
	    return state;
    }

    function initAwesomplete(value) {
        var as = new Awesomplete(this.target, {list:this.state.entries});
        this.target.addEventListener('awesomplete-select', onAwesompleteSelect.bind(this));
        as.replace = awesompleteReplace.bind(this);
        if(as._list.length > 0 && as._list[0].label && as._list[0].value) {
            var item = (as._list.find(function (x) {return x.value == value}));
            if (item) {as.input.value = item.label;}
            else {as.input.value = ''}
        }
        else {as.input.value = value;}
    }

    function awesompleteReplace(text){
    	var t = text;
    	if(this.state.lookupDelimiter) {
		    t = text.label.split(this.state.lookupDelimiter);
		    t.splice(-1)
		    t = t.join(this.state.lookupDelimiter);
	    }
	    this.target.value = t;
    }

    function onAwesompleteSelect(event) {
		//debugger;
    	document.getElementsByName(this.state.name)[0].value = event.text.value ? event.text.value : event.text;
		this.emitEvent('lookupSelected', event.text);
	}

    function calculateRootStyle(margin){
    	if(margin){
    		return 'margin-right : '+margin;
        }
        return '';
    }

    function onCreated(){
        if(this.properties.alert) this.properties.alert.onError.subscribe(errorSelector.bind(this.target));
    }

    function errorSelector(errors) {
    	this._state.error=null;
    	if(errors) {
		    for (var i in errors) {
			    if ((this._state.name && errors[i].name == this._state.name) || (this._state.alias && errors[i].name == this._state.alias)) {
			    	this._state.error = errors[i].message;
			    	errors.splice(i, 1);
			    	//return;
			    }
		    }
	    }
    }

    function setValue(value, min, max){
    	if(value && min && (value < min)) return min;
        else if(value && max && (value > max)) return max;
        else if(value) return value;
        else return '';
    }

	function isGeneric(type) {
		return ('|textarea|label|checkbox|hyperlink|select|lookup|'.indexOf('|' + type + '|') < 0);
	}

    function onHyperlinkClick() {
	    this.emitEvent('click');
    }

    function onPromptClick() {
	    this.emitEvent('click');
    }

    function onButtonClicked() {
	    this.emitEvent('click');
    }

    function onFocusOut() {
		this.emitEvent("focusout");
	}

    function onChange() {
	    this.emitEvent("change", this.target.value);
    }

    function onKeyUp() {
	    this.emitEvent("keyUp", this.target.value);
    }

    function onCheckboxClick(event){
		//debugger;
		this.emitEvent("click", this.target.checked);
    }

</script>


