<span style.bind="calculateRootStyle($margin)">
    <label if.bind="($glyph || $prompt) && (whatType($type) == 'label' || (whatType($type) != 'checkbox' && whatType($type) != 'hyperlink' && whatType($type) != 'hidden'))" class.bind="(($class ? $class : 'custom-entry-prompt' + ($deleted ? ' custom-deleted-text' : '')))" click.trigger="onPromptClick()">{{$prompt ? $prompt:''}}<span if.bind="$glyph" class.bind="'glyphicon glyphicon-' + $glyph" ></span></label>
    <input if.bind="whatType($type) == 'other'" type.bind="$type" name.bind="$name" class="form-control input-sm" required.bind="$required" placeholder.bind="$placeholder" value.bind="setValue($value, $min, $max)" min.bind="$min" max.bind="$max" accept.bind="$accept" focusout.trigger="onFocusOut()" change.trigger="onChange()" keyup.trigger="onKeyUp()">
    <input if.bind="whatType($type) == 'hidden'" type.bind="$type" name.bind="$name"value.bind="$value">
    <input if.bind="whatType($type) == 'button'" type.bind="$type" name.bind="$name" class.bind="($class ? $class : 'form-control btn btn-info btn-block')" value.bind="$value" click.trigger="onButtonClicked()">
    <textarea if.bind="whatType($type) == 'textarea'" name.bind="$name" required.bind="$required" class="form-control input-sm" focusout.trigger="onFocusOut()">{{($value ? $value : '')}}</textarea>
    <a if.bind="whatType($type) == 'hyperlink'" href.bind="$href" class.bind="($class ? $class : 'custom-entry-prompt')" click.trigger="onHyperlinkClick()">{{$prompt}}</a>
    <div if.bind="whatType($type) == 'checkbox'" >
        <input type="checkbox" name.bind="$name" id.bind="$name" autocomplete="off"  checked.bind="$checked" focusout.trigger="onFocusOut()" click.trigger="onCheckboxClick(event)"/>
        <div class="btn-group" focusout.trigger="onFocusOut()">
            <label for.bind="$name" class="btn btn-default btn-checkbox">
                <span class="glyphicon glyphicon-ok" focusout.trigger="onFocusOut()"></span>
                <span> </span>
            </label>
            <label for.bind="$name" class="btn btn-default active btn-checkbox" focusout.trigger="onFocusOut()">
                {{$prompt}}
            </label>
        </div>
    </div>
    <div if.bind="whatType($type) == 'select'" change.trigger="onChange()">
        <select class="form-control input-sm" name.bind="$name">
            <option for.each="entry in $entries" value.bind="entry" selected.bind="entry==$value">{{entry}}</option>
        </select>
    </div>
    <div if.bind="whatType($type) == 'lookup'">
        <input class="form-control input-sm" name.bind="$name" data-minchars="1" value.bind="$value"/>
    </div>
    <label if.bind="@error && whatType($type) != 'hidden'" class="custom-entry-prompt custom-error-text">{{@error}}</label>
</span>

<script>
//    var as;
//    var state = {
//    	inited:false,
//    }
	function initAwesomplete(state) {
//    	debugger;
		if(state.inited) return;
		state.inited = true;
		new Awesomplete(document.getElementsByName(state.name)[0], {list:state.entries});
	}

    function initState(props) {
//debugger;
    var state = {
    	inited:false,
    }

	    if(props.alert) props.alert.onError.subscribe(errorSelector.bind(this));
	    state.name = props.name;
	    state.error = null;
	    state.alias = props.alias;
	    state.entries = props.entries;
	    if(props.type == 'lookup') setTimeout(initAwesomplete.bind(this, state), 0);
    	return state;
    }

    function calculateRootStyle(margin){
    	if(margin){
    		return 'margin-right : '+margin;
        }
        return '';
    }

    function onCreated(){
        if(this.properties.alert) this.properties.alert.onError.subscribe(errorSelector.bind(this.target));
    }

    function errorSelector(errors) {
    	this._state.error=null;
    	if(errors) {
		    for (var i in errors) {
			    if ((this._state.name && errors[i].name == this._state.name) || (this._state.alias && errors[i].name == this._state.alias)) {
			    	this._state.error = errors[i].message;
			    	errors.splice(i, 1);
			    	//return;
			    }
		    }
	    }
    }

    function setValue(value, min, max){
    	if(value && min && (value < min)) return min;
        else if(value && max && (value > max)) return max;
        else if(value) return value;
        else return '';
    }

	function whatDivClass(divClass){
		if(divClass) return divClass;
		else return "col-xs-12 col-sm-6 col-md-6 col-lg-6";
	}

	function whatInnerDivClass(innerDivClass){
		if(innerDivClass) return innerDivClass;
		else return "form-group custom-entry-margin";
	}

	function whatType(type) {
		if('|textarea|label|hidden|button|checkbox|hyperlink|select|lookup|datalist|'.indexOf('|' + type + '|') >= 0) return type;
		else return 'other';
	}

    function onHyperlinkClick() {
	    this.emitEvent('click');
    }

    function onPromptClick() {
	    this.emitEvent('click');
    }

    function onButtonClicked() {
	    this.emitEvent('click');
    }

    function onFocusOut() {
		this.emitEvent("focusout");
	}

    function onChange() {
	    this.emitEvent("change", this.target.value);
    }

    function onKeyUp() {
	    this.emitEvent("keyUp", this.target.value);
    }

    function onCheckboxClick(event){
		//debugger;
		this.emitEvent("click", this.target.checked);
    }

</script>


