<div>
    <div class="container custom-container-layout" click.trigger="onClick()" style.bind="isClickable()">
        <div class="row centered-form no-top-margin">
            <div class="form-panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default ">
                    <div class="panel-heading custom-panel-layout" if.bind="$test || !$notitle || $title">
                        <h3 class="panel-title">
                            {{($title ? $title : '')}}
                            <div if.bind="$test">
                                PANEL HEADER
                            </div>
                        </h3>
                        <slot-view  name="title"></slot-view>
                    </div>
                    <div class="panel-body custom-panel-layout" style.bind="$style">
                        {{$body ? $body : ''}}
                        <div if.bind="$test">
                            PANEL BODY
                        </div>
                        <slot-view name="body"></slot-view>
                    </div>
                    <div class="panel-footer custom-panel-layout"  if.bind="$test || !$nofooter || $footer">
                        {{$footer ? $footer : ''}}
                        <div if.bind="$test">
                            PANEL FOOTER
                        </div>
                        <slot-view  name="footer"></slot-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function initState(props) {
    	return {};
    }
    function onClick(){
        this.emitEvent('click');
    }

    function isClickable(){
        if(this.properties && this.properties.onclick){
            return 'cursor:pointer';
        }
        return '';
    }

</script>