<inject from="/component/attachments/list" name="list"></inject>
<inject from="/component/entry" name="entry"></inject>
<inject from="/component/alert" name="alert"></inject>

<div data.load="loadFiles()">
    <div class="container">
        <entry naked type="label" prompt.bind="$prompt"></entry>
    </div>
    <div ref.name="existingFiles">
        <list list.bind="data" folder="upload/" delete.trigger="onDelete(event)"  readonly.bind="$readonly"></list>
    </div>
    <div ref.name="newFiles">
        <list list.bind="@newFiles"></list>
    </div>
    <div if.bind="!$readonly">
        <form>
            <entry type="file" name="addFile" change.trigger="onAddFile()"></entry>
        </form>
    </div>
    <span ref.name="alert">
        <alert alertType.bind="@alert.type()" message.bind="@alert.text()"></alert>
    </span>
</div>
<script>
    function initState(props){
    	var self = this;
	    if(props.onSave) props.onSave.subscribe(onSaveEvent.bind(self));
	    //debugger;
    	return {
    		alert: new Alert(null, $patchChanges, "alert"),
            newFiles:[],
            delFiles:[],
            collection: props.collection,
            userId: props.userId,
            emitEvent: self.emitEvent,
        }
    }

    function onCreated(){
    	debugger;
    }

    function loadFiles() {
    	var self = this;
    	debugger;
    	return new Promise(function(resolve){
    		//debugger;
            var q = {};
            if(self.state.userId) {
            	q.uploaderId = self.state.userId;
            }
		    dpd[self.state.collection].get(q, function(data, statusCode, headers, config) {
		    	//debugger;
		    	resolve(data);
		    });
        });
    }

    function onFileDeleted(event) {
	    $patchChanges("existingFiles");
    }

    function onDelete(event) {
    	debugger;
    	this.state.delFiles = this.state.delFiles.concat(event.data);
    }

    function onAddFile(){
    	debugger;
	    var form = this.target.form;
	    var self = this;
        this.state.newFiles = this.state.newFiles.concat(form.elements.addFile.files[0])
	    form.reset();
	    $patchChanges("newFiles");
	    return;
    }

    function onSaveEvent(fnc) {
    	debugger;
	    var self = this;
	    saveFiles.bind(self)(fnc);
    }

    function saveFiles(fnc) {
    	var self = this;
//    	return new Promise(function(resolve){
    		var fd = new FormData()
		    if(self._state.newFiles.length > 0) {
			    for(var i in self._state.newFiles) {
				    fd.append("uploadedFile", self._state.newFiles[i])
			    }
			    var xhr = new XMLHttpRequest();
			    xhr.open('PUT', '/' + self._state.collection);
			    //var boundary=Math.random().toString().substr(2);
			    //debugger;
			    xhr.onload = function () {
				    alert("onload");

				    var response = JSON.parse(this.responseText);
				    self._state.alert.alert(null);

				    if(this.status < 300) {
					    console.log("Upload successful!");
					    deleteFiles.bind(self)(fnc);
//					    resolve(fnc);
				    } else {
					    console.log(response.message);
					    alert(response.message);
				    }
			    };
			    xhr.onerror = function (err) {
				    alert("onerror");
				    self._state.alert.alert(err);
			    }
			    xhr.send(fd);
		    } else {
			    console.log("Nothing to upload!");
//			    resolve(fnc);
			    deleteFiles.bind(self)(fnc);
		    }
//        });
    }
    function deleteFiles(fnc){
    	debugger;
    	var self = this;
    	if(this._state.delFiles.length > 0) {
		    dpd[this._state.collection].del(this._state.delFiles[0], function (res, err) {
		    	debugger;
		    	self._state.delFiles.splice(0, 1);
		    	deleteFiles.bind(self)(fnc);
		    });
    	} else {
		    console.log("Deletion successful!");
		    //this.emitEvent('saved');
            fnc();
        }
    }

</script>